<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>InkbloomCn</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="shortcut icon" href="favicon.png">
</head>
<body>
  <header>
     <div class="container">
          <div class="navbar navbar-default" role="navigation">
               <div class="navbar-header"><a class="navbar-brand" href="index.html"> <img src="/assets/logo.png" alt="optional logo" height="90" width="90"> <span class="logo_title"></a></div>
               <div class="collapse navbar-collapse">
                    <ul class="nav pull-right navbar-nav">
                         <li class="<%= active_css('en', @locale) %>"><a href="/?locale=en">ENG</a></li>
                         <li class="<%= active_css('zh-CN', @locale) %>"><a href="/?locale=zh-CN">中文</a></li>
                    </ul>
               </div>
          </div>
          <div id="social_media_wrapper"> <a href="#"><i class="fa fa-wechat"></i></a> <a href="http://weibo.com/u/3077600941" target="_blank"><i class="fa fa-weibo"></i></a></div>
     </div>
  </header>


<section id="slider_wrapper" class="slider_wrapper full_page_photo">
     <div id="main_flexslider" class="flexslider">

     <div class="flex-viewport" style="overflow: hidden; position: relative;">
      <ul class="slides" style="width: 1000%; -webkit-transition: 0s; transition: 0s; -webkit-transform: translate3d(-1214px, 0px, 0px);">
        <li class="item clone" style="width: 1214px; float: left; display: block; background-image: url(/assets/demo/1.jpg);">
            <div class="container">
                 <div class="carousel-caption">
                      <h1 class="skincolored"><strong>subtle</strong> animations<br>
                           &amp; a <strong>fresh</strong> collapsing <strong>header effect</strong></h1>
                      <p class="lead">if you are looking for <a href="services.html"><strong>a bold approach</strong></a> you will love the header effect,<br>
                           but even if you like <a href="page_alternative.html"><strong>a more conservative feel</strong></a>, you can always try the boxed alternative!</p>
                 </div>
            </div>
       </li>
       <li class="item flex-active-slide" style="width: 1214px; float: left; display: block; background-image: url(/assets/demo/2.jpg);">
            <div class="container">
                 <div class="carousel-caption show">
                      <h1>a <strong>flexible</strong> theme<br>
                           you can <strong>trust</strong> &amp; <strong>build upon</strong>!</h1>
                      <p class="lead skincolored">Re<strong>start</strong> is based on <strong>good typography</strong> and <strong>large photography</strong>, serving as a foundation for your creative projects. Feel free to browse its templates and discover its features.</p>
                      <span class="round_badge"><strong><i class="fa fa-twitter"></i></strong><strong>V3</strong></span> </div>
            </div>
       </li>
       <li class="item" style="width: 1214px; float: left; display: block; background-image: url(/assets/demo/4.jpg);">
            <div class="container">
                 <div class="carousel-caption">
                      <h1>makes <strong>real use</strong><br>
                           of the power of <strong>{LESS}</strong> syntax!</h1>
                      <p class="lead skincolored">Restart was built with heavy use of {less} technology, making the life of the web developer easier!</p>
                 </div>
            </div>
       </li>
       <li class="item" style="width: 1214px; float: left; display: block; background-image: url(/assets/demo/3.jpg);">
            <div class="container">
                 <div class="carousel-caption">
                      <h1 class="skincolored"><strong>subtle</strong> animations<br>
                           &amp; a <strong>fresh</strong> collapsing <strong>header effect</strong></h1>
                      <p class="lead">if you are looking for <a href="services.html"><strong>a bold approach</strong></a> you will love the header effect,<br>
                           but even if you like <a href="page_alternative.html"><strong>a more conservative feel</strong></a>, you can always try the boxed alternative!</p>
                 </div>
            </div>
       </li>
       <li class="item clone" style="width: 1214px; float: left; display: block; background-image: url(/assets/demo/5.jpg);">
            <div class="container">
                 <div class="carousel-caption">
                      <h1>a <strong>flexible</strong> theme<br>
                           you can <strong>trust</strong> &amp; <strong>build upon</strong>!</h1>
                      <p class="lead skincolored">Re<strong>start</strong> is based on <strong>good typography</strong> and <strong>large photography</strong>, serving as a foundation for your creative projects. Feel free to browse its templates and discover its features.</p>
                      <span class="round_badge"><strong><i class="fa fa-twitter"></i></strong><strong>V3</strong></span> </div>
            </div>
       </li>
      </ul>
    </div>
  </div>
</section>

<div class="main">
    <footer>
        <section id="footer_teasers_wrapper">
             <div class="container">
                  <div class="row">
                       <div class="col-md-1"></div>
                       <div class="footer_teaser col-sm-2 col-md-2">
                            <a class="footer_h3"><%= t("homes.name") %></a>
                       </div>
                       <div class="footer_teaser col-sm-2 col-md-2">
                            <a class="footer_h3"><%= t("aboutus.name") %></a>
                            <p class="footer_pfirst"><a href="#"><%= t("aboutus.lnkbloom") %></a></p>
                            <p><a href="#"><%= t("aboutus.joinus") %></a></p>
                       </div>
                       <div class="footer_teaser col-sm-2 col-md-2">
                            <a class="footer_h3"><%= t("services.name") %></a>
                            <p class="footer_pfirst"><a href="#"><%= t("services.creative_work") %></a></p>
                            <p><a href="#"><%= t("services.snapshot") %></a></p>
                       </div>
                       <div class="footer_teaser col-sm-2 col-md-2">
                            <a class="footer_h3"><%= t("clients.name") %></a>
                            <p class="footer_pfirst"><a href="#"><%= t("clients.testimonials") %></a></p>
                            <p><a href="#"><%= t("clients.client_list") %></a></p>
                       </div>
                       <div class="footer_teaser col-sm-2 col-md-2">
                            <a class="footer_h3"><%= t("contactus.name") %></a>
                       </div>
                       <div class="col-md-1"></div>
                  </div>
             </div>
        </section>
        <section class="copyright">
             <div class="container">
                  <div class="row">
                       <div class="col-sm-6 col-md-6"> Copyright ©2014 all rights reserved </div>
                       <div class="text-right col-sm-6 col-md-6"> Designed by <a href="http://manageyp.github.com" target="_blank">Henry Lee</a> </div>
                  </div>
             </div>
        </section>
   </footer>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
